.main {
    margin: 0;
    padding: 0;
    background-color: #fcc5d3;
    height: 3500px;
}

.logo{
    position: fixed;
    left: 50%;
    width: 540px;
    height: 540px;
}

.content_bg{
    position: fixed;
    left: 50%;
    top: 200px;
    width: 840px;
    height: 560px;
}

.content{
    position: fixed;
    left: 50%;
    top: 318px;
    width: 612px;
    height: 353px;
}

.btn{
    position: fixed;
    right: 25%;
    top: 1200px;
    width: 445px;
    height: 85px;
    cursor: pointer;
}

.btn.secondary{
    left: 25%;
}

.btn_text{
    position: fixed;
    top: 825px;
    left: 27%;
    width: 370px;
    height: 32px;
    cursor: pointer;
}

.btn_text.secondary{
    height: 45px;
    right: 27%;
    left: unset;
}

@media (max-width: 900px){
    .logo{
        width: 90%;
        height: auto;
    }

    .content_bg{
        width: 90%;
        height: auto;
    }

    .content{
        width: 65%;
        height: auto;
        top: 250px
    }

    .btn{
        right: 10%;
        width: 80%;
        height: auto;
    }

    .btn.secondary{
        left: 10%;
    }

    .btn_text{
        top: 495px;
        left: 20%;
        width: 240px;
        height: 25px;
    }

    .btn_text.secondary{
        top: 585px;
        right: 19%;
        left: unset;
        height: 35px;
    }
}

